@tailwind base;
@tailwind components;
@tailwind utilities;
@import './tokens.css';

@import './scss/theme', './scss/content', './scss/step', './scss/override';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: 'Noto Sans TC', sans-serif !important;
  font-variant: tabular-nums;
  font-size: var(--text-base);
  line-height: var(--body-line-height);
  letter-spacing: 0.022em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-line-height);
}

a {
  color: #1890ff;
  &:hover {
    color: #40a9ff;
  }
}

b,
strong {
  font-weight: bold;
}
