:root {
  font-size: 16px;
  --form-max: 540px;

  /* White & Dark */
  --white: #fff;
  --black: #000;

  --brand: #66cc00;
  --green-100: #f7ffe6;
  --green-300: #c0f274;
  --green-400: #a2e649;
  --green-500: var(--brand);
  --green-600: #4da600;
  --green-700: #378000;
  --orange-300: #ffb660;
  --orange-500: #ff8100;
  --orange-700: #e96d00;
  --blue-100: #d0ebff;
  --blue-300: #74c0fc;
  --blue-500: #108ee9;
  --blue-900: #292f47;

  /* Primary & Brand */
  --primary: #66cc00;
  --primary-cta: #66cc00;
  --primary-cta-hover: var(--green-400);
  --primary-cta-active: var(--green-600);
  --primary-cta-disabled: #bab0a6;
  --primary-cta-radius: 4px;
  --primary-cta-height: 48px;
  --primary-cta-fontsize: var(--text-md);

  /* System Colors */
  --error-500: #ffa9a9;
  --error-900: #ff3333;
  --warning-500: #ffd86f;
  --warning-900: #f0af23;
  --success-500: #9cde59;
  --success-900: #66cc00;

  /* Theme */
  --thematic-color-100: var(--green-100);
  --thematic-color-300: var(--green-300);
  --thematic-color: var(--primary);

  /* Thematic Colors */
  --arctic-100: #f0fffe;
  --arctic-300: #bbeef0;
  --arctic: #62cbd7;

  --health-100: #fff0f0;
  --health-300: #ffc2cb;
  --health: #f96d8c;

  --climate-100: #fffde6;
  --climate-300: #ffeb7a;
  --climate: #ffbe00;

  --plastics-100: #f0f0e1;
  --plastics-300: #d6d5c9;
  --plastics: #afaa91;

  --forests-100: #dcf5e8;
  --forests-300: #38d9a9;
  --forests: #00b474;

  --oceans-100: #e6faff;
  --oceans-300: #7adcff;
  --oceans: #008fe2;

  /* Shades Gray Colors */
  --shades-10: #fafafa;
  --shades-50: #f8f9fa;
  --shades-100: #f1f3f5;
  --shades-200: #e9ecef;
  --shades-300: #dee2e6;
  --shades-500: #adb5bd;
  --shades-700: #495057;
  --shades-800: #343a40;
  --shades-900: #212529;

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.5;

  /* set base values - 1.2, 1.25, 1.333, 1.414, 1.5, 1.618 */
  --text-base-size: 1rem;
  --text-scale-ratio: 1.333;

  /* type scale */
  --text-xs: calc(
    var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio)
  );
  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-base: var(--text-base-size);
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-2xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-3xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  --radius-sm: 2px;
  --radius: 4px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-rounded: 9999px;

  /* Line & Border */
  --outline-color: rgba(58, 151, 212, 0.36);
  --outline-transition: box-shadow 0.2s ease;

  /* Elevation Box Shadows */
  --shadow-1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-5: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-7: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);

  /* Gradient & Background */
  --gradient-smoke: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 0) 0%,
    #eeeeee 100%
  );

  --gradient-smoke-inverted: linear-gradient(
    to top,
    rgba(238, 238, 238, 0) 0%,
    #eeeeee 100%
  );
}
