.general {
  --thematic-color: var(--brand);
  --thematic-color-300: var(--green-400);
}

.arctic {
  --thematic-color: var(--arctic);
  --thematic-color-300: var(--arctic-300);
}

.oceans {
  --thematic-color: var(--oceans);
  --thematic-color-300: var(--oceans-300);
}

.climate {
  --thematic-color: var(--climate);
  --thematic-color-300: var(--climate-300);
}

.health {
  --thematic-color: var(--health);
  --thematic-color-300: var(--health-300);
}

.forests {
  --thematic-color: var(--forests);
  --thematic-color-300: var(--forests-300);
}

.plastics {
  --thematic-color: var(--plastics);
  --thematic-color-300: var(--plastics-300);
}
