.strapi-content {
	overflow: hidden;
	ol,
	ul {
		list-style: initial;
		margin-left: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.5;
		li + li {
			margin-top: 0.25em;
		}
	}
	figure.table {
		th, td {
			white-space: normal;
		}
	}
	.image-style-align-center {
		margin-left: auto;
		margin-right: auto;
	}
}
