@import './swiper-pagination', './swiper-navigation';

.content {
	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-container {
		width: 100%;
		height: 100%;
		overflow: visible;
		position: relative;
	}

	.swiper-slide {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper-container .swiper-slide,
	.swiper-container .swiper-pagination,
	.swiper-container [class^='swiper-button-'] {
		transition: box-shadow 140ms linear, opacity 140ms linear,
			filter 140ms linear, transform 140ms linear;
	}

	.swiper-button-next,
	.swiper-button-prev {
		background-image: none;
		background-color: white;
		border-radius: 99px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.25s ease-in-out;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	}

	.swiper-button-next {
		right: 4px;
	}

	.swiper-button-prev {
		left: 4px;
	}
}
