.general {
  --thematic-color: var(--brand);
  --thematic-color-300: var(--green-300);
  --thematic-color-100: var(--green-100);
}

.arctic {
  --thematic-color: var(--arctic);
  --thematic-color-300: var(--arctic-300);
  --thematic-color-100: var(--arctic-100);
}

.oceans {
  --thematic-color: var(--oceans);
  --thematic-color-300: var(--oceans-300);
  --thematic-color-100: var(--oceans-100);
}

.climate {
  --thematic-color: var(--climate);
  --thematic-color-300: var(--climate-300);
  --thematic-color-100: var(--climate-100);
}

.health {
  --thematic-color: var(--health);
  --thematic-color-300: var(--health-300);
  --thematic-color-100: var(--health-100);
}

.forests {
  --thematic-color: var(--forests);
  --thematic-color-300: var(--forests-300);
  --thematic-color-100: var(--forests-100);
}

.plastics {
  --thematic-color: var(--plastics);
  --thematic-color－300: var(--plastics-300);
  --thematic-color-100: var(--plastics-100);
}
