.arctic {
  --thematic-color: var(--arctic);
}
.oceans {
  --thematic-color: var(--oceans);
}
.health {
  --thematic-color: var(--health);
}
.forests {
  --thematic-color: var(--forests);
}
.climate {
  --thematic-color: var(--climate);
}
.plastics {
  --thematic-color: var(--plastics);
}
